Repository Bryan-Roe-ai/semantic-kernel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/octo-semantickernel-pr-dotnet, @microsoft/octo-semantickernel-pr-python, @microsoft/octo-semantickernel-pr-java, @Microsoft/vscodeazuretoolsdev

Update .linkspector.yml
  .github/.linkspector.yml
Owners: none

Update FUNDING.yml
  .github/FUNDING.yml
Owners: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Update custom.md
  .github/ISSUE_TEMPLATE/custom.md
Owners: none

Update feature_graduation.md
  .github/ISSUE_TEMPLATE/feature_graduation.md
Owners: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Update settings.json
  .vscode/settings.json
Owners: none

Update tasks.json
  .vscode/tasks.json
Owners: none

Update launch.json
  .vscode/launch.json
Owners: none

Update extensions.json
  .vscode/extensions.json
Owners: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Owners: none

Update dotnet-install.sh
  .devcontainer/dotnet-install.sh
Owners: none

Update .gitattributes
  .gitattributes
Owners: @Microsoft/vscodeazuretoolsdev

Update .gitmodules
  .gitmodules
Owners: @Microsoft/vscodeazuretoolsdev

Update .gitignore
  .gitignore
Owners: @Microsoft/vscodeazuretoolsdev

Update .env.local.template
  .env.local.template
Owners: @Microsoft/vscodeazuretoolsdev

Update .editorconfig
  .editorconfig
Owners: @Microsoft/vscodeazuretoolsdev

Update .work-folder-info
  .work-folder-info
Owners: @Microsoft/vscodeazuretoolsdev

Update Dockerfile
  Dockerfile
Owners: @Microsoft/vscodeazuretoolsdev

Update LICENSE
  LICENSE
Owners: @Microsoft/vscodeazuretoolsdev

Update README.md
  README.md
Owners: @Microsoft/vscodeazuretoolsdev

Update SECURITY.md
  SECURITY.md
Owners: @Microsoft/vscodeazuretoolsdev

Update requirements.txt
  requirements.txt
Owners: @Microsoft/vscodeazuretoolsdev

Update Installation.md
  Installation.md
Owners: @Microsoft/vscodeazuretoolsdev

Update Installation.md
  Installation.md
Owners: @Microsoft/vscodeazuretoolsdev

Update Dockerfile
  Dockerfile
Owners: @Microsoft/vscodeazuretoolsdev

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @Microsoft/vscodeazuretoolsdev

Update Cache.yml
  .github/workflows/Cache.yml
Owners: none

Update jekyll-docker.yml
  .github/workflows/jekyll-docker.yml
Owners: none

Update jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Owners: none

Update jekyll.yml
  .github/workflows/jekyll.yml
Owners: none

Update Untitled-1.md
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Untitled-1.md
Owners: @microsoft/octo-semantickernel-pr-java

Update Untitled-1.md
  java/extensions/semantickernel-planners/src/main/java/com/microsoft/semantickernel/planner/actionplanner/Untitled-1.md
Owners: @microsoft/octo-semantickernel-pr-java

Update adr-short-template.md
  docs/decisions/adr-short-template.md
Owners: none

Update adr-short-template.md
  docs/decisions/adr-short-template.md
Owners: none

Update adr-short-template.md
  docs/decisions/adr-short-template.md
Owners: none

Update adr-short-template.md
  docs/decisions/adr-short-template.md
Owners: none

Update adr-template.md
  docs/decisions/adr-template.md
Owners: none

Update 0050-updated-vector-store-design.md
  docs/decisions/0050-updated-vector-store-design.md
Owners: none

Update 0050-updated-vector-store-design.md
  docs/decisions/0050-updated-vector-store-design.md
Owners: none

.github/CODEOWNERS:

# Owners for the dotnet directory and its subdirectories
/dotnet/ @microsoft/octo-semantickernel-pr-dotnet

# Owners for the python directory and its subdirectories
/python/ @microsoft/octo-semantickernel-pr-python

# Owners for the java directory and its subdirectories
/java/ @microsoft/octo-semantickernel-pr-java

# Owners for all files in the root directory
/* @Microsoft/vscodeazuretoolsdev

# Owners for all files in the vscode-azure-account directory
/vscode-azure-account/ @Microsoft/vscodeazuretoolsdev
