Repository Bryan-Roe-ai/semantic-kernel, changes with the labels that .github/labeler.yml gives for each.
All labels: kernel, kernel.core, python, java, samples, .NET, copilot chat, documentation, memory, bug, feature request, custom issue, pull request, community, contributing, getting started, repository structure

.github/labeler.yml:

# Add 'kernel' label to any change within Connectors, Extensions, Skills, and tests directories
kernel:
  - dotnet/src/Connectors/**/*
  - dotnet/src/Extensions/**/*
  - dotnet/src/Skills/**/*
  - dotnet/src/IntegrationTests/**/*
  - dotnet/src/SemanticKernel.UnitTests/**/*

# Add 'kernel.core' label to any change within the 'SemanticKernel', 'SemanticKernel.Abstractions', or 'SemanticKernel.MetaPackage' directories
kernel.core:
  - dotnet/src/SemanticKernel/**/*
  - dotnet/src/SemanticKernel.Abstractions/**/*
  - dotnet/src/SemanticKernel.MetaPackage/**/*

# Add 'python' label to any change within the 'python' directory
python:
  - python/**/*

# Add 'java' label to any change within the 'java' directory
java:
  - java/**/*

# Add 'samples' label to any change within the 'samples' directory
samples:
  - samples/**/*

# Add '.NET' label to any change within samples or kernel 'dotnet' directories.
.NET:
  - dotnet/**/*

# Add 'copilot chat' label to any change within the 'samples/apps/copilot-chat-app' directory
copilot chat:
  - samples/apps/copilot-chat-app/**/*

# Add 'documentation' label to any change within the 'docs' directory, or any '.md' files
documentation:
  - docs/**/*
  - '**/*.md'

# Add 'memory' label to any memory connectors in dotnet/ or python/
memory:
  - dotnet/src/Connectors/Connectors.Memory.*/**/*
  - python/semantic_kernel/connectors/memory/**/*

# Add 'bug' label to any issue with the 'bug' template
bug:
  - .github/ISSUE_TEMPLATE/bug_report.md

# Add 'feature request' label to any issue with the 'feature request' template
feature request:
  - .github/ISSUE_TEMPLATE/feature_request.md

# Add 'custom issue' label to any issue with the 'custom' template
custom issue:
  - .github/ISSUE_TEMPLATE/custom.md

# Add 'pull request' label to any pull request
pull request:
  - .github/pull_request_template.md

# Add 'community' label to any change within the 'COMMUNITY.md' file
community:
  - COMMUNITY.md

# Add 'contributing' label to any change within the 'CONTRIBUTING.md' file
contributing:
  - CONTRIBUTING.md

# Add 'getting started' label to any change within the 'docs/Getting_Started.md' file
getting started:
  - docs/Getting_Started.md

# Add 'repository structure' label to any change within the 'docs/Repository_Structure.md' file
repository structure:
  - docs/Repository_Structure.md

# Add rules for labeling issues based on their content
issue-labels:
  - python: 
      - '**/*python*'
  - java: 
      - '**/*java*'
  - .NET: 
      - '**/*dotnet*'
      - '**/*.net*'
      - '**/*csharp*'
      - '**/*C#*'

kipo
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  home/untitled folder/.gitkeep
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update documentation and README.md to reflect latest changes and improvements
  README.md
  docs/Code_Comments.md
  docs/FAQ.md
  docs/Getting_Started.md
  docs/PLANNERS.md
  docs/PLUGINS.md
  docs/PROMPT_TEMPLATE_LANGUAGE.md
  docs/README.md
  docs/automate_runtime.md
Labels: documentation, getting started

Update `docs/Getting_Started.md` to include new dependencies and examples
  docs/Getting_Started.md
  docs/PLANNERS.md
  docs/PLUGINS.md
  docs/PROMPT_TEMPLATE_LANGUAGE.md
Labels: documentation, getting started

Update `docs/Repository_Structure.md` to reflect the latest changes in the repository structure
  docs/Repository_Structure.md
Labels: documentation, repository structure
